/* General App Container */
.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar Drawer */
.sidebar-drawer {
  width: 230px;
  flex-shrink: 0;
}

.sidebar-paper {
  width: 230px;
  box-sizing: border-box;
  background-color: #7D9B76;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Sidebar Toolbar */
.sidebar-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 16px 0; */
}

/* Sidebar Logo */
.sidebar-logo {
  height: 180px;
  cursor: pointer; /* Allow clickable logo */
}

/* Sidebar SearchBar */
.sidebar-searchbar {
  margin: 16px;
}

/* Sidebar List */
.sidebar-list {
  flex-grow: 1;
  padding: 0;
}

/* Sidebar ListItem */
.sidebar-listitem {
  /* padding-left: 16px; */
  color: white;
  transition: background-color 0.3s ease;
}

.sidebar-listitem:hover {
  background-color: #5c7858;
}

/* Sidebar ListIcon */
.sidebar-listicon {
  min-width: 40px !important;
  color: #394736 !important;
}

/* Sidebar Logout Section */
.sidebar-logout {
  text-align: center;
  margin: 16px;
}

/* Logout Button */
.logout-button {
  background-color: #5c7858;
  color: white;
  text-transform: none;
  border-radius: 8px;
  width: 80%;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #3d4e3a;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  padding: 24px;
  background-color: #EAEAEA;
  overflow-y: auto;
}

/* Mobile AppBar */
.appbar {
  background-color: #7D9B76 !important;
  z-index: 1201;
  height: 64px;
  display: flex;
  padding: 0 16px;
  box-shadow: none;
}

/* Toolbar for AppBar */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Menu Button */
.menu-button {
  color: white;
  margin-right: 20px; /* Creates space between the hamburger menu and the search bar */
}

/* Mobile SearchBar */
.mobile-searchbar {
  flex-grow: 1;
  background: transparent !important; /* Transparent background for the search bar */
  border: none;
}

fieldset.MuiOutlinedInput-notchedOutline {
  border: none !important;
}